@tailwind base;
@tailwind components;
@tailwind utilities;


/* .all-spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }

  .spot-container {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
  }

  .spot-container:hover {
    transform: scale(1.05);
  }

  .spot-info-container {
    padding: 20px;
  }

  .mini-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .spot-image-container {
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
  }

  .all-spots-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .city-state-star-container {
    display: flex;
    justify-content: space-between;
  }

  .spot-info {
    font-size: 1rem;
  }

  .all-spots-price {
    color: #ff5a5f;
    font-size: 1.2rem;
  }

  .all-spots-rating {
    font-size: 1.2rem;
  }

  .small-images-container {
  position: relative;
  left: 0;
  top: 0;
  height: 450px;
  width: 640px;
  overflow: hidden;
  text-align: center;
}

  .small-images-container div {
    width: 640px;
    height: 900px;
    padding-top: 10px;
    position: relative;
  }

  .small-images-container div img {
    clear: both;
    display: block;
    margin: 0 auto;
    border: 0;
  }

.small-images-container .pic .previous {
  display: inline;
  float: left;
  margin-left: 80px;
  text-decoration: none;
}
.small-images-container .pic .next {
  display: inline;
  float: right;
  margin-right: 80px;
  text-decoration: none;
} */
