/* .hidden {
    display: none
}

.logo-text{
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 21px;
    font-size: 13px;
    box-shadow: 0px 0px 21px 1px rgb(255, 255, 255);
 }


 .logo-left{
    transform: rotate(90deg);
    font-size: 21px;
    color: white;
 }


 .logo-right{
    transform: rotate(-90deg);
    font-size: 21px;
    color: white;
 }


 .nav-bar {
    width: 100%;
    position: sticky;
    box-sizing: border-box;
    top: 0px;
    background-color: rgb(0, 0, 0);
    border-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index:1;
    border-radius: 0px 0px 11px 11px;
 }


 .nav-bar-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 3px 7px;
 }


 .nav-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
 }

 .nav-bar-right {
   display: flex;
   align-items: center;
   gap: 12px;
 }

 .create-new-spot{
   font-family:  'Circular', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
   text-decoration: none;
   background-color: rgb(255, 255, 255);
   padding: 13px;
   border: rgb(0, 0, 0) solid;
   border-radius: 13px;
   color: rgb(0, 0, 0);
   font-weight: bold;
   display: flex;
   box-sizing: border-box;
   margin: 13px;
   box-shadow: 0px 0px 21px 1px rgb(243, 239, 239);
 }

 .profile-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px;
 } */
.hidden{
  display: none;
}

.nav-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.nav-bar-left {
  display: flex;
  /* align-items: center; */
   justify-content: left;
  }

  .nav-bar-left a {
    display: flex;
    /* align-items: left; */
    justify-content: left;
    text-decoration: none;
    color: #222;
  }

  .nav-bar-left :hover {
    color: #d3caca;
  }

  .logo-left,
  .logo-right {
    font-size: 24px;
    color: #cf2a2a;
  }

  .logo-text {
    color: #cf2a2a;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 21px;
  font-size: 13px;
  box-shadow: 0px 0px 21px 1px rgb(255, 255, 255);
 }
 /* .logo-text :hover {
  border: 3px solid #c20404;
 } */

 .nav-bar-right {
   display: flex;
   align-items: center;
  }
  .nav-bar {
    width: 100%;
    position: sticky;
    box-sizing: border-box;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    /* background-color: #ffffff; */
    z-index: 1;
    /* box-shadow: 0 0 8px rgb(255, 255, 255); */
    box-shadow: 0 1px 2px 0 rgba(30, 29, 29, 0.05);
    border-radius: 0px 0px 11px 11px;
    .shadow-sm {
      --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }

 .create-new-spot {
   font-size: 16px;
   font-weight: 600;
   color: #fff;
   background-color: #ba1010;
   border-radius: 4px;
   padding: 8px 16px;
   margin-right: 16px;
   text-decoration: none;
   transition: background-color 0.2s ease-in-out;
 }

 .create-new-spot:hover {
   background-color: #8c3535;
 }

 .profile-button {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
 }


 .profile-button:hover {
   background-color: rgb(174, 174, 174);
 }
